body{
    background:url()
    no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    margin: 0;
    background-color: white;
}

h1{
    color: black;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

.Fmain{
    color: black;
    font-size: 27px;
    text-align: left;
}

.linktext{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
}

#Fimg{
    width: 300px;
    float: left;
    margin: 0.5% 0.5% 0% 0.5%;
}

#Intimg{
    width: 300px;
    float: left;
    margin: 0.5% 0.5% 0% 0.5%;  
}

.contacts{
    text-align: center;
    font-size: 50px;
}

.Git{
width: 100px;
}

.Github{
    text-align: center;
}

.Panel{
    background-color: #e10600;
    height: 90px;
    margin-top: -30px;
}

#HistoryPanel{
    padding-left: 20px;
    padding-top: 30px;
    font-size: 25px;
}

#EstablisherPanel{
    text-align: center;
    margin-top: -47px;
    font-size: 25px;
}

#DriversPanel{
    text-align: right;
    margin-top: -55px;
    padding-right: 25px;
    font-size: 25px;
}

#EstablisherId:hover {
    background-color: black;
}

#EstablisherId {
    color: white;
    text-transform: uppercase;
}

#HistoryPanelId{
    color: white;
    text-transform: uppercase;
}

#HistoryPanelId:hover{
    background-color: black;
}

#DriversPanelId{
    color: white;
    text-transform: uppercase;
}

#DriversPanelId:hover{
    background-color: black;
}